body 
{
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p{
  position: relative;
  left:10%;
  color: white;
  font-size: x-large;
  overflow: visible;
  height: 100px;
  width: 800px;
}
#particles-js {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 99.9%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}